node_modules
dist
Dockerfile*
docker-compose*
.dockerignore
.git
.env*
.gitignore
README.md
CHANGELOG.md
commitlint.config.js
LICENSE
.vscode
Makefile
helm-charts
biome.json
.editorconfig
.idea
coverage*
.prettierrc
.prettierignore
.github
.vscode
.DS_Store
.tmp
.cache
.git
*.log
build
data
backup
